[run]
source =
    payroll
    accounting
    company
    api
    users
    standup
    core
omit =
    */migrations/*
    */tests.py
    */test_*.py
    */tests/*
    */__pycache__/*

[report]
show_missing = True
skip_covered = False
fail_under = 80
