.env
venv
*venv/
/venv/
venv/
db.sqlite3
mail_test.py
*.gitignore
.Dockerignore
cryptokey.txt
migrations/
migrations
templ
todo.md
*templ
.pyc
*.pyc
__pycache__/
/__pycache__
__pycache__
staticfiles
staticfiles/
/staticfiles/
static
*.js
/static/
static/*
./static/
node_modules/
templ
testing.py
tmp/
theme/
.vscode
.pytest_cache
.qodo
