.env
venv
*venv/
/venv/
venv/
db.sqlite3
mail_test.py
.Dockerignore
cryptokey.txt
templ
todo.md
*templ
.pyc
*.pyc
__pycache__/
/__pycache__
__pycache__
staticfiles/
static/admin/
static/jazzmin/
node_modules/
templ
testing.py
tmp/
theme/
.vscode
.pytest_cache
.qodo
templ
templ
*.jpg
resume.json
workflow.json
junks
.agents/
.agent/
.omx/
.codex
test_db.sqlite3
.env.example
test_db.sqlite3
