{% load tailwind_tags %}
{% load static %}

{% tailwind_preload_css %}
{% tailwind_css %}


<div class="min-h-screen flex items-center justify-center bg-gray-900">
  <div class="max-w-md w-full space-y-8 p-8 bg-gray-800 shadow-md rounded-lg">
    <h2 class="text-3xl font-semibold text-center text-gray-200">Login</h2>
    
    <form method="post" action="{% url 'users:login' %}" class="mt-8">
      {% csrf_token %}
      
      <!-- Username/Email field -->
      <div class="mb-4">
        <label for="id_username" class="block text-sm font-medium text-gray-300">Username or Email</label>
        <input type="text" id="id_username" name="username" autofocus required
               class="mt-1 p-2 w-full border rounded-md">
      </div>
      
      <!-- Password field -->
      <div class="mb-4">
        <label for="id_password" class="block text-sm font-medium text-gray-300">Password</label>
        <input type="password" id="id_password" name="password" required
               class="mt-1 p-2 w-full border rounded-md">
      </div>
      
      <!-- Remember Me checkbox -->
      <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
          <input type="checkbox" id="id_remember" name="remember" class="mr-2">
          <label for="id_remember" class="text-sm text-gray-600">Remember me</label>
        </div>
        <a href="{% url 'users:password_reset' %}" class="text-sm text-blue-500">Forgot Password?</a>
      </div>
      
      <!-- Login button -->
      <button type="submit" class="w-full bg-green-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
        Log in
      </button>
    </form>

    <div>
      <button class="w-full bg-blue-400 text-white p-2 rounded-lg shadow-lg hover:bg-white-400 focus:outline-none focus:ring focus:border-white-400">
        <a href="{% url 'users:socials' %}">Login WIth SOCIALS</a>
      </button>
    </div>
    
    <!-- Registration link -->
    <div class="text-center text-sm text-gray-600 mt-4">
      Don't have an account? <a href="{% url 'users:register' %}" class="text-blue-500">Sign up here</a>.
    </div>
  </div>
</div>