<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load tailwind_tags %}
    {% load static %}

    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>
<body>
    <p>You're receiving this email because you requested a password reset for your account.</p>
    <p>Click the following link to reset your password:</p>
    <a href="{{ reset_url }}" class="text-blue-500">Reset Password</a>
    <p>If you didn't request a password reset, please ignore this email.</p>
</body>
</html>