{% extends "base.html" %}

{% block content %}
<h3>Control Panel</h3>
<hr>
<p>
    Welcome, <small>{{request.user.username}}</small>
</p>
<hr>
<a class = "btn btn-info" href = "{% url 'payroll:add_pay' %}">Add Pay </a>
<hr>
{% if payt %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Gross Salary</th>
            <th scope="col">Pension</th>
            <th scope="col">Payee</th>
            <th scope="col">Net_pay</th>
          </tr>
        </thead>
        <tbody>
          {% for pay in payt %}
          <tr>
            <th scope="row">{{pay.id}}</th>
            <td><a href="{% url 'payroll:payslip' pay.id %}">{{pay.payr.employee.first_name}}</a></td>
            <td>{{pay.payr.basic_salary}}</td>
            <td>{{pay.payr.pension}}</td>
            <td>{{pay.payr.payee}}</td>
            <td>{{pay.net_pay}}</a> </td>
              
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">   
You don't have any articles yet...
</div>
{% endif %}



{% endblock %}