{% extends "base.html" %}

{% block content %}
<h2>Control Panel</h2>
<hr>
<p>
    Welcome, <small>{{request.user.username}}</small>
</p>
<hr>
<a class = "btn btn-info" href = "{% url 'payroll:add_pay' %}">Add Pay </a>
<hr>
{% if emp %}
<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">id</th>
            <th scope="col" class="py-3 px-6">Name</th>
            <th scope="col" class="py-3 px-6">Gross Salary</th>
            <th scope="col" class="py-3 px-6">Pension</th>
            <th scope="col" class="py-3 px-6">Payee</th>
            <th scope="col" class="py-3 px-6">Net_pay</th>
          </tr>
    </thead>
    <tbody>
      {% for pay in emp %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">{{pay.id}}</th>
        <td><a href="{% url 'payroll:payslip' pay.id %}">{{pay.first_name}}</a></td>
        <td>{{pay.employee_pay.basic_salary}}</td>
        <td>{{pay.employee_pay.pension}}</td>
        <td>{{pay.employee_pay.payee}}</td>
        <td>{{pay.net_pay}}</a> </td>
          
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
{% else %}

<div class = "alert alert-danger">   
You don't have any articles yet...
</div>
{% endif %}



{% endblock %}