{% extends "base_tailwind.html" %}
{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load tailwind_filters %}
{% load tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
{% load custom_tags %}

{% block title %}
DASHBOARD
{% endblock title %}

{% block content %}
<h2>Control Panel</h2>
<hr>
<p>
  Welcome, <small>{{request.user.username}}</small>
</p>
<hr>
<a class="btn btn-info" href="{% url 'payroll:add_pay' %}">Add Pay </a>
<hr>
{% if emp %}
<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Gross Salary
        </th>
        <th scope="col" class="px-6 py-3">
          Pension
        </th>
        <th scope="col" class="px-6 py-3">
          Payee
        </th>
        <th scope="col" class="px-6 py-3">
          Net Pay
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">View Payslip</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for pay in emp %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="w-4 p-4">
          {{pay.id}}
        </td>

        <td class="px-6 py-4">
          {{pay.first_name}} {{pay.last_name}}
        </td>
        <td class="px-6 py-4">
          {{pay.employee_pay.basic_salary}}
        </td>
        <td class="px-6 py-4">
          {{pay.employee_pay.pension|div:12|stringformat:".2f"|intcomma}}
        </td>
        <td class="px-6 py-4">
          {{pay.employee_pay.payee}}
        </td>
        <td class="px-6 py-4">
          {{pay.net_pay}}
        </td>
        <td class="px-6 py-4 text-right">
          <a href="{{pay.get_absolute_url}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View
            Payslip</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}

<div class="alert alert-danger">
  You don't have any

  Payslip yet...
</div>
{% endif %}



{% endblock %}


</div>

<script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
</div>