{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% block title %}
  NHF REPORT
{% endblock title %}
{% load mathfilters %}
{% load humanize %}

{% block content %}
<div class="container mx-auto my-5 p-5 bg-white rounded shadow">
    {% if payroll %}
        <div class="flex items-center justify-between mb-6">
            <h1 class="text-2xl font-semibold text-gray-800">NHF Report for {{ dates }}</h1>
            <a href="download/" class="btn btn-info flex items-center shadow-sm">
                <i class="fas fa-download fa-sm text-white-50 mr-2"></i> Generate Report
            </a>
        </div>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="py-2 px-4">EmpNo</th>
                        <th class="py-2 px-4">Employee First Name</th>
                        <th class="py-2 px-4">Employee Last Name</th>
                        <th class="py-2 px-4">Bank</th>
                        <th class="py-2 px-4">NHF Contribution</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-100">
                    {% for payrol in payroll %}
                        <tr class="border-b">
                            <td class="py-2 px-4">{{ payrol.payroll_entry.pays.emp_id }}</td>
                            <td class="py-2 px-4">{{ payrol.payroll_entry.pays.first_name }}</td>
                            <td class="py-2 px-4">{{ payrol.payroll_entry.pays.last_name }}</td>
                            <td class="py-2 px-4">{{ payrol.payroll_entry.pays.bank }}</td>
                            <td class="py-2 px-4">{{ payrol.payroll_entry.pays.employee_pay.nhf|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="bg-gray-200">
                        <td colspan="4" class="py-2 px-4 font-bold text-right">Total National Housing Fund deduction</td>
                        <td class="py-2 px-4 font-bold">{{ total|default:0|intcomma }}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-gray-600">No payroll data available.</p>
    {% endif %}
</div>
{% endblock %}
