{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% load tailwind_tags %}
{% load static %}
{% tailwind_preload_css %}
{% tailwind_css %}
{% load mathfilters %}
{% load humanize %}

{% block content %}


    <div class="container container-fluid">
        <!-- Page Heading -->
    {% if payroll %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">NHIS Report for {{ dates }}</h1>
            <a href="download/" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">EmpNo</th>
                    <th scope="col">Employee First Name</th>
                    <th scope="col">Employee Last Name</th>
                    <th scope="col">Bank Account</th>
                    <th scope="col">NHIS Contributon amount</th>
                </tr>
            </thead>
            <tbody>
          
            
                 {% for payrol in payroll %}
                     <tr>
                        <th scope="row">{{ payrol.payroll_id.pays.emp_id }}</th>
                        <td>{{ payrol.payroll_id.pays.first_name }}</td>
                        <td>{{ payrol.payroll_id.pays.last_name }}</td>
                        <td>{{ payrol.payroll_id.pays.bank }}</td>
                        <td>{{ payrol.payroll_id.nhf|intcomma }}</td>
                     </tr>
                 {% endfor %}

                 <tr class="bg-gray-200">
                    <td colspan="5" class="py-2 px-4 font-bold text-right">Total National Health Insurance Fund deductions</td>
                    <td class="py-2 px-4 font-bold">{{ total }}</td>
                  </tr>
            </tbody>
        </table>
       {% comment %} <a href="download" class="btn btn-outline-info"> Download</a>  {% endcomment %}
    {% endif %}
    </div>
{% endblock %}