{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% load mathfilters %}
{% load humanize %}

{% block content %}

<div class="container mx-auto my-5 p-5 bg-white rounded shadow">
    {% if payroll %}
        <div class="flex items-center justify-between mb-6">
            <h1 class="text-2xl font-semibold text-gray-800">NHIS Report for {{ dates }}</h1>
            <a href="download/" class="btn btn-info flex items-center shadow-sm">
                <i class="fas fa-download fa-sm text-white-50 mr-2"></i> Generate Report
            </a>
        </div>

        <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="py-2 px-4">EmpNo</th>
                    <th class="py-2 px-4">Employee First Name</th>
                    <th class="py-2 px-4">Employee Last Name</th>
                    <th class="py-2 px-4">HMO Provider</th>
                    <th class="py-2 px-4">Bank Account</th>
                    <th class="py-2 px-4">NHIS Contribution Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for payrol in payroll %}
                <tr class="border-b">
                    <td class="py-2 px-4">{{ payrol.payroll_entry.pays.emp_id }}</td>
                    <td class="py-2 px-4">{{ payrol.payroll_entry.pays.first_name }}</td>
                    <td class="py-2 px-4">{{ payrol.payroll_entry.pays.last_name }}</td>
                    <td class="py-2 px-4">{{ payrol.payroll_entry.pays.get_hmo_provider_display|default:"N/A" }}</td>
                    <td class="py-2 px-4">{{ payrol.payroll_entry.pays.bank }}</td>
                    <td class="py-2 px-4">{{ payrol.payroll_entry.nhf|intcomma }}</td>
                </tr>
                {% endfor %}

                <tr class="bg-gray-200">
                    <td colspan="6" class="py-2 px-4 font-bold text-right">Total National Health Insurance Fund deductions</td>
                    <td class="py-2 px-4 font-bold">{{ total }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p class="text-gray-600">No payroll data available.</p>
    {% endif %}
</div>
{% endblock %}
