{% load static %}
{% load mathfilters %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Payslip</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <style>
      body {
        font-family: 'Source Sans Pro', sans-serif;
        color: #14213d;
        line-height: 1.6;
      }

      h1 {
        color: #000;
        font-family: 'Pacifico', cursive;
        font-size: 40pt;
        margin: 0;
      }

      .table th,
      .table td {
        text-align: center;
      }

      .table th:first-child,
      .table td:first-child {
        text-align: left;
      }

      .table th:last-child,
      .table td:last-child {
        text-align: right;
      }
    </style>
  </head>
  <body>
    {% block content %}
      <header class="text-center mb-4">
        <img src="{% static "images/logo.png" %}" alt="Logo" class="img-fluid" style="max-height: 100px;">
        <h3>Zayyad Development Agency</h3>
      </header>

      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name:</th>
              <th scope="col">{{ payroll.pays.first_name }} {{ payroll.pays.last_name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Job Number:</th>
              <td>{{ payroll.pays.emp_id }}</td>
            </tr>
            <tr>
              <th scope="row">Job Title:</th>
              <td>{{ payroll.pays.get_job_title_display }}</td>
            </tr>
            <tr>
              <th scope="row">Basic Pay</th>
              <td>{{ payroll.pays.employee_pay.basic_salary }}</td>
            </tr>
            <tr>
              <th scope="row">Gross Pay</th>
              <td>{{ payroll.pays.employee_pay.gross_income|div:12|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Employee Pension contribution</th>
              <td>{{ payroll.pays.employee_pay.pension_employee|div:12|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Taxable Income/th>
              <td>{{ payroll.pays.employee_pay.taxable_income|div:12|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Health Insurance Fund deduction</th>
              <td>{{ payroll.nhif|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">National Housing Fund Deduction</th>
              <td>{{ payroll.nhf|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Income Tax</th>
              <td>{{ payroll.pays.employee_pay.payee|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Consolidated Relief:</th>
              <td>{{ payroll.pays.employee_pay.consolidated_relief|div:12|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Gross Pay after Tax</th>
              <td>{{ payroll.netpay }}</td>
            </tr>
            <tr>
              <th scope="row">Allowances</th>
              <td>{{ payroll.calc_allowance|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Disciplinary Deductions:</th>
              <td>{{ payroll.calc_deduction|stringformat:".2f"|intcomma }}</td>
            </tr>
            <tr>
              <th scope="row">Net Pay</th>
              <td>{{ payroll.netpay|stringformat:".2f"|intcomma }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>