{% include 'base.html' %}
{% load mathfilters %}
{% load humanize %}
{% load tailwind_filters %}
{% load tailwind_tags %}
{% load static %}
{% tailwind_preload_css %}
{% tailwind_css %}
{% load custom_tags %}



{% block content %}
{% if pay %}


<div class="container mx-auto my-5 p-5 bg-white rounded shadow">
    <div class="text-center mb-5">
        <h2 class="text-xl font-bold">Payslip</h2>
        <p class="text-gray-600">Payment slip for the month of {{ dates }}</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="flex justify-between">
            <span class="font-semibold">Employee Code:</span>
            <span>{{pay.payroll_id.pays.emp_id}}</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">Employee Name:</span>
            <span>{{pay.payroll_id.pays.first_name}} {{pay.payroll_id.pays.last_name}}</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">Tax No.:</span>
            <span>{{pay.payroll_id.pays.tin_no}}</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">NOD:</span>
            <span>28</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">Bank Name:</span>
            <span>{{pay.payroll_id.pays.get_bank_display}}</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">Mode of Pay:</span>
            <span>Bank</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">Designation:</span>
            <span>{{pay.payroll_id.pays.get_job_title_display}}</span>
        </div>
        <div class="flex justify-between">
            <span class="font-semibold">Bank Account No.:</span>
            <span>{{pay.payroll_id.pays.bank_account_number|mask_account_number}}</span>
        </div>
    </div>

    <table class="table-auto w-full mb-5 border-collapse border border-gray-200">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="border border-gray-200 p-2">Earnings</th>
                <th class="border border-gray-200 p-2">Amount</th>
                <th class="border border-gray-200 p-2">Deductions</th>
                <th class="border border-gray-200 p-2">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-200 p-2">Gross</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.basic_salary}}</td>
                <td class="border border-gray-200 p-2">Pension Employee Deduction</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.pension_employee|div:12|stringformat:".2f"|intcomma}}</td>
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Transport</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.transport|div:12|stringformat:".2f"|intcomma}}</td>
                <td class="border border-gray-200 p-2">National Housing Deduction</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.nhf}}</td>
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Housing</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.housing|div:12|stringformat:".2f"|intcomma}}</td>
                <td class="border border-gray-200 p-2">Taxable Income</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.taxable_income|div:12|stringformat:".2f"|intcomma}}</td>
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Consolidated Relief</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.consolidated_relief|div:"12"|stringformat:".2f"|intcomma}}</td>
                <td class="border border-gray-200 p-2">Water Fee</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.water_rate}}</td>
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Gross Income</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.gross_income|div:12}}</td>
                <td class="border border-gray-200 p-2">Payee</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.pays.employee_pay.payee|stringformat:".2f"|intcomma}}</td>
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Overtime</td>
                <td class="border border-gray-200 p-2">₦0.0</td>
                <td class="border border-gray-200 p-2">Damages Deduction</td>
                {% if pay.payroll_id.deduction_id.name == 'DM' %}
                    <td class="border border-gray-200 p-2">₦{{pay.payroll_id.deduction_id.amount}}</td>
                {% else %}
                    <td class="border border-gray-200 p-2">₦0.0</td>
                {% endif %}
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Medical Allowance</td>
                <td class="border border-gray-200 p-2">₦0.00</td>
                <td class="border border-gray-200 p-2">Lateness Deduction</td>
                {% if pay.payroll_id.deduction_id.name == 'LT' %}
                    <td class="border border-gray-200 p-2">₦{{pay.payroll_id.deduction_id.amount}}</td>
                {% else %}
                    <td class="border border-gray-200 p-2">₦0.0</td>
                {% endif %}
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Sales Incentive</td>
                <td class="border border-gray-200 p-2">₦0.00</td>
                <td class="border border-gray-200 p-2">Absence Deduction</td>
                {% if pay.payroll_id.deduction_id.name == 'AB' %}
                    <td class="border border-gray-200 p-2">₦{{pay.payroll_id.deduction_id.amount}}</td>
                {% else %}
                    <td class="border border-gray-200 p-2">₦0.0</td>
                {% endif %}
            </tr>
            <tr>
                <td class="border border-gray-200 p-2">Leave Encashment</td>
                <td class="border border-gray-200 p-2">₦0.0</td>
                <td class="border border-gray-200 p-2">Health Insurance Deductions</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.nhif}}</td>
            </tr>
            <tr class="border-t-2">
                <td class="border border-gray-200 p-2">Total Allowance Earning</td>
                <td class="border border-gray-200 p-2">₦{{ pay.payroll_id.allowance.amount }}</td>
                <td class="border border-gray-200 p-2">Total Deductions</td>
                <td class="border border-gray-200 p-2">₦{{pay.payroll_id.deduction_id.amount}}</td>
            </tr>
        </tbody>
    </table>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
            <span class="font-bold">Net Pay:</span> <span class="text-xl">₦{{pay.payroll_id.netpay}}</span>
        </div>
        {% if num2words %}
        <div class="border p-3">
            <span class="font-bold">In Words:</span> <span>{{num2words}} naira only</span>
        </div>
        {% endif %}
    </div>
    <div class="flex justify-end mb-5">
        <div class="flex flex-col items-center">
            <span class="font-semibold">For...</span>
            <span class="mt-4">Authorised Signatory</span>
        </div>
    </div>

    <div class="text-center">
        <a href="/payslip/pdf/{{pay.payroll_id.pays.id}}/" class="btn btn-success inline-block px-4 py-2 bg-green-500 text-white rounded">Download</a>
    </div>
</div>
{% endif %}

{% endblock %}
