{% load static %}
{% load mathfilters %}
{% load humanize %}
{% include "scripts.html" %}
{% if pay %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center lh-1 mb-2">
                <h6 class="fw-bold">Payslip</h6> <span class="fw-normal">Payment slip for the month of {% now "F Y" %}</span>
            </div>
            <div class="d-flex justify-content-end"> <span><<Working Branch:ROHINI>></span> </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Code:</span> <small class="ms-3">{{pay.payr.employee.emp_id}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Name:</span> <small class="ms-3">{{pay.payr.employee.first_name}} {{pay.payr.employee.last_name}}</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">PF No.</span> <small class="ms-3">{{pay.payr.employee.tin_no}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">NOD</span> <small class="ms-3">28</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">ESI No.</span> <small class="ms-3"></small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Mode of Pay</span> <small class="ms-3">Bank</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Designation:</span> <small class="ms-3">{{pay.payr.employee.get_job_title_display}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Ac No.</span> <small class="ms-3">*******0701</small> </div>
                        </div>
                    </div>
                </div>
                <table class="mt-4 table table-bordered">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Earnings</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Deductions</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Gross</th>
                            <td>{{pay.payr.basic_salary}}</td>
                            <td>Pension Employee Deduction</td>
                            <td>{{pay.payr.pension_employee}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Transport</th>
                            <td>{{pay.payr.transport}}</td>
                            <td>Pension Employer Contribution</td>
                            <td>{{pay.payr.pension_employer}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Housing</th>
                            <td>{{pay.payr.housing}}</td>
                            <td>Taxable Income</td>
                            <td>{{pay.payr.taxable_income|div:12|stringformat:".2f"|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">consolidated Relief</th>
                            <td>{{pay.payr.consolidated_relief|div:"12"|stringformat:".2f"|intcomma}}</td>
                            <td>Water fee</td>
                            <td>{{pay.payr.water_rate}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Gross Income</th>
                            <td>{{pay.payr.gross_income|div:12}}</td>
                            <td>Payee</td>
                            <td>{{pay.payr.payee|div:12|stringformat:".2f"|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Overtime</th>
                            <td>{{pay.overtime}}</td>
                            <td>Damages Deduction</td>
                            <td>{{pay.damage}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Medical Allowance</th>
                            <td>0.00</td>
                            <td>Lateness Deduction</td>
                            <td>{{pay.lateness}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sales Incentive</th>
                            <td>0.00</td>
                            <td>Absence Deduction</td>
                            <td>{{pay.absent}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Leave Encashment</th>
                            <td>{{pay.leave_allowance}}</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>

                        <tr class="border-top">
                            <th scope="row">Total Allowance Earning</th>
                            <td>{{pay.leave_allowance|add:pay.overtime}}</td>
                            <td>Total Deductions</td>
                            <td>{{pay.payr.payee|div:12|add:pay.absent|add:pay.lateness|add:pay.damage|add:pay.payr.pension_employee|add:pay.payr.water_rate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4"> <br> <span class="fw-bold">Net Pay : #{{pay.net_pay}}</span> </div>
                {% if num2words %}
                <div class="border col-md-8">
                    <div class="d-flex flex-column"> <span>In Words</span> <span>{{num2words}} naira only</span> </div>
                </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column mt-2"> <span class="fw-bolder">For...</span> <span class="mt-4">Authorised Signatory</span> </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div>
    <button type="button" class="btn btn-success"><a href="{% url 'payroll:payslip_pdf' pay.id %}">Download</button>

</div>
