{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Pay{% endblock %}

{% block content %}
<div class="container mx-auto py-8">
    <div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-bold text-center mb-6">Add Pay</h2>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-success">Submit Pay</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}