{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% load tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
{% load custom_tags %}

{% block title %}PayDay View{% endblock %}

{% block content %}
<div class="container mx-auto py-8">
    <div class="flex items-center justify-between mb-4">
        <h1 class="text-2xl font-semibold text-gray-800">NHIF Reports</h1>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border-b">#</th>
                    <th class="px-4 py-2 border-b">Year-Month</th>
                    <th class="px-4 py-2 border-b">Report</th>
                </tr>
            </thead>
            <tbody>
                {% for month in pay_var %}
                <tr class="bg-white even:bg-gray-50">
                    <td class="px-4 py-2 border-b text-center">{{ forloop.counter }}</td>
                    <td class="px-4 py-2 border-b text-center">{{ dates|index:forloop.counter0 }}</td>
                    <td class="px-4 py-2 border-b text-center">
                        <a href="{{ month.paydays }}/" class="btn btn-info">View Report</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}