<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
    {% load static %}
    {% load tailwind_filters %}
    {% load tailwind_tags %}
    {% tailwind_preload_css %}
    {% tailwind_css %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zee Payroll System">
    <meta name="author" content="Zee">

    <title>Zee | Payroll</title>

    <!-- Custom fonts -->
    <link href="{% static 'theme/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static 'theme/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'jquerui/jquery-ui.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {% include "scripts.html" %}
</head>

<body class="flex h-full bg-gray-100 font-nunito">
    <!-- Page Wrapper -->
    <div id="wrapper" class="flex w-full">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion transition-all duration-300" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'payroll:index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-money-check-alt"></i>
                </div>
                <div class="sidebar-brand-text mx-3">zee | Payroll</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Items -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:employee' %}">
                    <i class="fas fa-fw fa-user-friends"></i>
                    <span>Employees</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:nhis' %}">
                    <i class="fas fa-fw fa-plus"></i>
                    <span>NHIS</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:payee' %}">
                    <i class="fas fa-fw fa-address-card"></i>
                    <span>PAYEE</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:nhf' %}">
                    <i class="fas fa-fw fa-book-medical"></i>
                    <span>National Housing Fund</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:bank' %}">
                    <i class="fas fa-fw fa-paper-plane"></i>
                    <span>Bank Reports</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payroll:pension' %}">
                    <i class="fas fa-fw fa-passport"></i>
                    <span>Employee Pension Contribution</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline mt-4">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column flex-1">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.username}}</span>
                                <i class="far fa-user-circle"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'users:logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Page Content -->
                <div class="container-fluid px-4">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- End of Page Content -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white mt-auto">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright zee|Payroll {% now 'Y' %}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Scripts -->
    <script>
        $(function() {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: 0
            });
        });

        $(document).ready(function() {
            $('#employees').DataTable();
            $('#allowances').DataTable();
        });
    </script>
</body>
</html>